

<div class="container-lg justify-content-center">
    <img id="family" src="images/mixed_family.jpeg" alt="family image">
    <h1> Angelo Straight</h1>
    <a class="btn btn-primary" href="/checkout" role="button">Click</a>
</div>

